*.dSYM*/
*.nkftmp*

# make
._bcdi/
._d/
alpha.cmi
alpha.cmo
asm.cmi
asm.cmo
assoc.cmi
assoc.cmo
beta.cmi
beta.cmo
closure.cmi
closure.cmo
constFold.cmi
constFold.cmo
elim.cmi
elim.cmo
emit.cmi
emit.cmo
float.o
id.cmi
id.cmo
inline.cmi
inline.cmo
kNormal.cmi
kNormal.cmo
lexer.cmi
lexer.cmo
lexer.ml
m.cmi
m.cmo
main.cmi
main.cmo
min-caml
min-caml.top
parser.cmi
parser.cmo
parser.ml
parser.mli
regAlloc.cmi
regAlloc.cmo
s.cmi
s.cmo
simm.cmi
simm.cmo
syntax.cmi
syntax.cmo
test/gcd.s
type.cmi
type.cmo
typing.cmi
typing.cmo
virtual.cmi
virtual.cmo
